<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <nav>
        <a href="/views/index.html">Home</a>
        <a href="/views/about.html">About</a>
    </nav>
    <p>This project was creating using a Node.js HTTP Server. path.join(), fs.readFileSynce(), and fs.existsSync were used to serve content and files. <br> This page shows a static resource, which is the frog picture, while the home page uses an outside JavaScript file to manipulate the DOM, <br>which is the button that makes the number go up</p>
    <img id="image" src="images/mush frog wallpaper.jpg" alt="lil frog on a mushroom. He's enjoying the rain">
</body>
</html>