<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <nav>
        <a href="/views/index.html">Home</a>
        <a href="/views/about.html">About</a>
    </nav>
    <h2>Welcome to the page aaaaaaaa</h2>
    <p>Press the button to increase the number</p>
    <p id="numGoUp"></p>
    <button onclick="addNum()">+</button>

    <script src="js/script.js"></script>
</body>
</html>